<% @movies.each do |movie| %>
  <section class="movie">
    <div class="image">
      <%= image_tag movie.image_file_name %>
      </div>
    <div class="summary">
      <h2>
        <%= link_to(movie.title, movie_path(movie)) %>
      </h2>
      <br>
      <h3>
        <span class="stars">
          <%= render "shared/stars", percent: movie.average_stars_as_percent %>
        </span>
        <%= total_gross(movie) %> | <%= movie.rating %>
      </h3>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
      <p><%= day_and_time(movie) %></p>
    </div>
  </section>
<% end %>

<section class="admin">
  <%= link_to "Add New Movie", new_movie_path, class: "button" %>
</section>

